{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jest/globals": true
  },
  "plugins": [
    "react-hooks",
    "import",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "react/prop-types": "off"
  }
}